.input {
  @include font(400);
  font-size: 1.4rem;
  line-height: 2rem;
  color: $dark;
  padding: 8px 16px 10px;
  border-radius: 20px;
  min-width: 280px;
  width: 100%;
  background-color: #FFFFFF;
  transition: background-color 0.1s;
  ::placeholder {
    color: $gray;
  }
  &--valid {
    border: 2px solid $favourite;
    background-color: $favourite;
    color: #FFFFFF;
  }
  &:focus,
  &--valid:focus {
    border: 2px solid $favourite;
    background-color: #FFFFFF;
    outline: none;
    color: $dark;
  }
  &--invalid,
  &--invalid:focus {
    border: 2px solid $error;
  }
}
