.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  padding: 7px 11px 8px;
  @include font(400);
  font-size: 2rem;
  line-height: 2.9rem;
  border: 2px solid $favourite;
  background-color: $dark;
  border-radius: 32px;
  color: #FFFFFF;
  cursor: pointer;
  &--work-link {
    border: 2px solid $favourite;
    background-color: $dark;
    color: #FFFFFF;
  }
  &--work-link:hover {
    background-color: $favourite;
  }
  &--work-link:active {
    color: $favourite;
  }
  &--close {
    border: none;
    background-color: $favourite;
  }
}