.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 144px;
  padding: 8px 11px 9px;
  @include font(400);
  font-size: 1.6rem;
  line-height: 2.3rem;
  border: 2px solid $favourite;
  background-color: $dark;
  border-radius: 32px;
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    background-color: $favourite;
  }
  @media (min-width: $desktop) {
    min-width: 180px;
    padding: 7px 11px 8px;
    font-size: 2rem;
    line-height: 2.9rem;
    max-height: 44px;
  }
}

.button--invert {
  border: 2px solid $dark;
  background-color: $favourite;
  &:hover {
    background-color: rgba($favourite, 0.7);
  }
}

.button--cancel {
  border: none;
  background-color: transparent;
  padding: 0;
  color: $favourite;
  min-width: unset;
  font-size: 1.4rem;
  line-height: 2rem;
  &:hover {
    border: none;
    background-color: transparent;
  }
}
