.contacts {
  position: relative;
}

.contacts__list {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $desktop) {
    justify-content: space-around;
  }
}

.contacts__item {
  & + & {
    margin-left: 20px;
  }
  @media (min-width: $desktop) {
    & + & {
      margin-left: 0;
    }
  }
}

.contacts__link {
  display: inline-block;
  @include font(400);
  font-size: 1.4rem;
  line-height: 2rem;
  min-width: 70px;
  text-align: center;
  padding: 12px 0;
  @media (min-width: $desktop) {
    min-width: 130px;
    padding: 7px 0 8px;
    font-size: 2rem;
    line-height: 2.9rem;
  }
}
