.contacts {
  position: relative;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $dark;
  transform: translateX(150%);
  transition: transform 0.3s;
  &--active {
    transform: translateX(0);
  }
  @media (min-width: $desktop) {
    transform: translateX(0);
    width: auto;
    height: auto;
    flex-direction: row;
    position: relative;
    background-color: transparent;
  }
}

.contacts__item {
  & + & {
    margin-top: 20px;
  }
  @media (min-width: $desktop) {
    width: 187px;
    text-align: center;
    & + & {
      margin-top: 0;
      margin-left: 50px;
    }
  }
}

.contacts__link {
  display: inline-block;
  @include font(400);
  font-size: 2rem;
  line-height: 2.9rem;
}

.contacts__button {
  @media (min-width: $desktop) {
    display: none;
  }
}

.contacts__overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba($favourite, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  @media (min-width: $desktop) {
    display: none;
  }
}