.filters__list {
  display: flex;
  justify-content: space-between;
  @media (min-width: $desktop) {
    justify-content: center;
  }
}

.filters__item {
  @media (min-width: $desktop) {
    & + & {
      margin-left: 40px;
    }
  }
}

.filters__button {
  border: none;
  background-color: transparent;
  @include font(400);
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 6px;
  cursor: pointer;
  &--active {
    color: $favourite;
  }
  @media (min-width: $desktop) {
    min-width: 140px;
    font-size: 2rem;
    line-height: 2.9rem;
    padding: 0;
  }
}
