.home {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.home::before {
  content: '';
  background-color: $dark;
  position: absolute;
  width: 100%;
  height: 49vh;
  z-index: 200;
  left: 0;
  transform: skewY(9rad);
  bottom: 0;
  @media (min-width: $desktop) {
    left: unset;
    width: 50%;
    height: 100vh;
    right: 0;
    transform: skewX(-15deg);
  }
}

.home__image-container {
  position: relative;
  overflow: hidden;
  z-index: 100;
  height: 68vh;
  @media (min-width: $desktop) {
    height: 100vh;
    width: 66%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.home__image-container::before {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(130, 112, 222, 0.5) 0%, rgba(0, 0, 0, 0.02) 85%);
  width: 100%;
  height: 68vh;
  z-index: 100;
  @media (min-width: $desktop) {
    height: 100vh;
  }
}

.home__image {
  height: 68vh;
  width: 100%;
  object-fit: cover;
  filter: opacity(0);
  transition: filter 1s 0.3s;
  object-position: top;
  &--loaded {
    filter: opacity(1);
  }
  @media (min-width: $desktop) {
    height: 100vh;
    object-position: left top;
    object-fit: cover;
  }
  @media (min-width: $max-desktop) {
    object-fit: contain;
  }
}

.home__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 20px;
  justify-items: center;
  grid-row-gap: 60px;
  position: relative;
  z-index: 200;
  @media (min-width: $desktop) {
    display: block;
  }
}

.home__contacts {
  @media (min-width: $desktop) {
    margin-top: 70px;
  }
}

.home__main-info {
  grid-column: 1/3;
  grid-row: 1/2;
  @media (min-width: $desktop) {
    margin-top: 250px;
  }
}

.home__button {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}