.home {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.home__image-container {
  position: relative;
  overflow: hidden;
  z-index: 100;
  height: calc(45vh + 50px);
  @media (min-width: $desktop) {
    height: 100vh;
    width: calc(51% + 60px);
    position: absolute;
    left: 0;
    top: 0;
  }
}

.home__image-container::before {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(130, 112, 222, 0.5) 0%, rgba(0, 0, 0, 0.02) 85%);
  width: 100%;
  height: 45vh;
  z-index: 100;
  @media (min-width: $desktop) {
    height: 100vh;
  }
}

.home__image {
  height: 68vh;
  width: 100%;
  object-fit: cover;
  filter: opacity(0);
  transition: filter 1s 0.3s;
  object-position: top;
  &--loaded {
    filter: opacity(1);
  }
  @media (min-width: $desktop) {
    height: 100vh;
    object-position: left top;
    object-fit: cover;
  }
}

.home__wrapper {
  height: 55vh;
  // padding: 20px 20px 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 200;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: $dark;
  border-radius: 60px 0 0;
  @media (min-width: $desktop) {
    bottom: unset;
    right: 0;
    width: 49%;
    height: 100vh;
    padding: 80px 40px;
    justify-content: flex-start;
  }
}

.home__contacts {
  flex-grow: 4;
  @media (min-width: $desktop) {
    width: 100%;
  }
}

.home__main-info {
  flex-grow: 3;
  @media (min-width: $desktop) {
  }
}

.home__button {
  flex-grow: 4;
  max-width: 144px;
  @media (min-width: $desktop) {
    max-width: unset;
    display: flex;
    justify-content: center;
  }
}