.types-form {
  display: grid;
  grid-template-columns: 1fr 1fr 40px 40px;
  grid-column-gap: 30px;
}
.types-form__input {
  position: relative;
  // &--title {}
  // &--description {}
}
.types-form__errors {
  position: absolute;
}
.types-form__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &--save {}
  &--cancel {}
}
.types-form__icon {
  width: 24px;
  height: 24px;
  fill: $favourite;
  &--save {}
  &--cancel {}
}
