.works {
  margin: 0 auto;
  padding-bottom: 32px;
  @media (min-width: $desktop) {
    padding-bottom: 70px;
  }
}

.works__filters {
  padding: 30px 10px 50px;
  @media (min-width: $desktop) {
    padding: 130px 10px 70px;
  }
}

.works__cards--mobile {
  @media (min-width: $big-desktop) {
    display: none;
  }
}

.works__cards--desktop {
  display: none;
  @media (min-width: $big-desktop) {
    max-width: 1590px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.works__card + .works__card {
  margin-top: 50px;
  @media (min-width: $big-desktop) {
    margin-top: 150px;
  }
}

.works__load-more-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0 32px;
  @media (min-width: $desktop) {
    margin: 70px 0 0;
  }
}