.works {
  margin: 0 auto;
  padding-bottom: 32px;
  @media (min-width: $desktop) {
    padding-bottom: 70px;
  }
}

.works__filters {
  padding: 30px 10px 50px;
  @media (min-width: $desktop) {
    padding: 130px 10px 70px;
  }
}

.works__cards {
  @media (min-width: $big-desktop) {
    max-width: 1590px;
    padding: 0 20px;
    margin: 0 auto;
    column-count:2;
  }
}

.works__card {
  & + & {
    margin-top: 50px;
  }
  @media (min-width: $big-desktop) {
    display: flex;
    justify-content: flex-start;
    & + & {
      margin-top: 150px;
    }
    &--right-justified {
      justify-content: flex-end;
    }
  }
}

.works__load-more-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0 32px;
  @media (min-width: $desktop) {
    margin: 70px 0 0;
  }
}