// Colors

$main: #F5F5F5;
$dark: #17181A;
$favourite: #8270DE;
$gray: #9F9F9F;
$error: #DB2379;

@mixin font($weight) {
  font-family: 'Jost', sans-serif;
  font-weight: $weight;
}

$min-content: 320px;
$max-content: 1366px;

$tablet: 720px;
$desktop: 1120px;
