.admin {
  max-width: $max-content;
  margin: 0 auto;
  padding: 30px 40px 0;
}
.admin__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.admin__title {
  font-family: Jost, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 5.2rem;
  line-height: 7.5rem;
  flex-grow: 1;
}
.admin__tabs {
  display: grid;
  grid-template-columns: 180px 180px;
  grid-column-gap: 40px;
  justify-content: center;
  margin-bottom: 40px;
}
.admin__fade--enter-active,
.admin__fade--leave-active {
  transition: opacity 0.5s ease;
}

.admin__fade--enter-from,
.admin__fade--leave-to {
  opacity: 0;
}
